.todos-button {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
}
/* .complete-btn { */
  /* height: 25px; */
  /* background-color: yellow; */
/* } */
.fas fa-check {
  height: 25;

}

/* .fas fa-btn { */
  /* height: 25; */
  /* background-color: yellow; */
/* } */
.trash-btn {
  background-color: red;

}

.todo-content {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px; 
}

.todos {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px; 
  background-color: yellow;
}

.form-content {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
  background-color: aquamarine;
}

h2 {
  display: flex;
  justify-content: center;
}


